 #form{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;

}
 select, label {
     margin-bottom: 20px;
 }

 select,
 input {
     width: 100%;
     padding: 10px;
     margin-bottom: 15px;
     border: 1px solid #ccc;
     border-radius: 5px;
     box-sizing: border-box;
     font-size: 16px;
     text-align: center;
 }


 button {
     margin-bottom: 40px;
     display: inline-block;
     padding: 10px 20px;
     font-size: 16px;
     font-weight: bold;
     text-align: center;
     text-decoration: none;
     cursor: pointer;
     border: 2px solid #3498db;
     border-radius: 5px;
     color: #ffffff;
     background-color: #3498db;
     transition: background-color 0.3s, color 0.3s;
 }


 button:hover {
     background-color: #ffffff;
     color: #3498db;
 }






